controller:
  ingressController:
    image:
      tag: "3.5"
    env:
      feature_gates: "FillIDs=true,GatewayAlpha=true"
    konnect:
      license:
        enabled: true
      enabled: true
      # Don't set controlPlaneID or apiHostname here - use --set flags
      tlsClientCertSecretName: konnect-client-tls
    resources:
      requests:
        memory: "0.25Gi"
        cpu: "100m"
      limits:
        memory: "0.5Gi"
        cpu: "250m"

gateway:
  image:
    repository: kong/kong-gateway
    tag: "3.11"
  env:
    konnect_mode: "on"
    vitals: "off"
    cluster_mtls: pki
    cluster_telemetry_endpoint:
      valueFrom:
        secretKeyRef:
          name: konnect-config
          key: CLUSTER_TELEMETRY_ENDPOINT
    cluster_telemetry_server_name:
      valueFrom:
        secretKeyRef:
          name: konnect-config
          key: CLUSTER_TELEMETRY_SERVER_NAME
    cluster_cert: /etc/secrets/konnect-client-tls/tls.crt
    cluster_cert_key: /etc/secrets/konnect-client-tls/tls.key
    lua_ssl_trusted_certificate: system
    nginx_worker_processes: "1"
    upstream_keepalive_max_requests: "100000"
    nginx_http_keepalive_requests: "100000"
    proxy_access_log: "off"
    dns_stale_ttl: "3600"
  resources:
    requests:
      memory: 0.5Gi
      cpu: 500m
    limits:
      memory: 1.5Gi
      cpu: 1000m
  secretVolumes:
    - konnect-client-tls
  manager:
    enabled: false
  proxy:
    stream:
      - containerPort: 9094
        servicePort: 9094
        protocol: TCP
        parameters:
          - "ssl"
